<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Locations Map</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="header-bar">
        <h1>Locations for Video: {{ video_id }}</h1>
        <a href="/" class="nav-button">Go Back</a>
    </div>

    <div id="error-message" class="error-message" style="display: none;"></div>
    <div id="screen">
        <div id="map"></div>
        <div id="imageDisplay"></div>
    </div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Custom JS -->
    <script>
        const VIDEO_ID = "{{ video_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>
</html>
